body {
    color: #202124;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav */

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    padding-right: 20px;
}

nav ul {
    list-style: none;
}

nav a {
    padding: 0 7px;
    text-decoration: none;
    color: #202124;
    font-size: 13px;
}

nav a:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 32px;
    height: auto;
    border-radius: 50%;
}

.apps-icon {
    width: 24px;
    height: auto;
    opacity: 0.55;
    padding: 3px;
    margin-top: 3px;
}

.apps-icon:hover {
    opacity: 1;
}

/* Main Body */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo {
    padding: 120px 0 20px 0;
    width: 272px;
}

.main-logo img {
    width: 272px;
}

form {
    width: 562px;
    position: relative;
}

.search-bar input{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 482px;
    margin: 0 auto;
    padding: 0 40px;
}

.mag-icon {
    height: 15px;
    width: auto;
    position: absolute;
    left: 15px;
    top: 15px;
}

.mic-icon {
    height: 20px;
    width: auto;
    position: absolute;
    right: 15px;
    top: 15px;
}

.search-bar input:hover {
    box-shadow: 0 0 5px #bbbbbb;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px #bbbbbb;
}

.search-buttons {
    padding-top: 18px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.search-btn {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    height: 36px;
    text-align: center;
    color: #3c4043;
}

.search-btn:hover {
    border: 1px solid #bbbbbb;
}

.alternative-lang {
    padding: 20px;
    width: 400px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid #dadce0;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
}

.footer-left {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
}

.footer-left a {
    padding-right: 27px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    align-items: center;
}

.footer-right a {
    padding-left: 27px;
}
